.course {

	&__wrapper {
		padding: 1rem;
		border-radius: 5px;
		position: relative;		
		z-index: 100;

		@include above (sm) {
			margin-top: -9rem;
		}
	}

	&__title {
		margin-top: 0;
		color: $green;
	}

	&__item {
		padding-bottom: .5rem;
		padding-top: .5rem;
		align-items: center;
		border-bottom: 1px dashed #1a1e21;
	}

	&__date {

	}

	&__status {
		font-weight: 700;
		text-transform: uppercase;
		text-align: right;

		&.green {
			color: $green!important;

			&:hover {
				color: $white!important;
			}
		}

		&.yellow {
			color: $yellow!important;

			&:hover {
				color: $white!important;
			}
		}
	}

	&__text {
		padding-top: 1.5rem;

		a {
			color: $white!important;
			transition: all ease .3s;

			&:hover {
				color: $green!important;
			}
		}
	}
}