/********************FOOTER********************/

/*
 * This file should house all of the styles for
 * footer.php.
 */

.footer {
	padding-top: 3rem;
	padding-bottom: 3rem;

	@include above (sm) {
		padding-top: 5rem;
		padding-bottom: 5rem;
	}

	&__item {

		a {
			color: $white;
			transition: all ease .3s;

			&:hover {
				color: $green;
			}
		}
	}

	&__title {
		margin-top: 0;
	}
}
