.gform {
	&_wrapper {
		margin: 0 !important;
		max-width: none !important;
	}

	&_body {
		width: 100% !important;
	}

	// List of fields (reset from entry.scss)
	&_fields {
		list-style: none;
		padding-left: 0;
	}

	&_title {
		font-size: 3rem !important;
		font-weight: 400 !important;
	}

	// Submit
	&_button {
		margin: 0 !important;
		display: inline-block;
		padding: 1rem 2.5rem !important;
		border: none;
		-webkit-appearance: none;
		cursor: pointer;
		transition: all .3s ease;
		background: $gray;
		color: $white;
		font-weight: 700;
		text-transform: uppercase;
		border-radius: 5px;
	}

	// Submit wrapper
	&_footer {
		text-align: center;
	}
}

/**
 * Form fields
 **/

.gfield {
	padding-right: 0 !important;

	// Labels
	&_label {
		display: none!important;
	}

	&_required {
		color: $color-font-body!important;
	}

	// Description
	&_description {
		padding-right: 0 !important;
		padding-left: 0 !important;
	}

	// Fields
	input[type="email"],
	input[type="text"],
	textarea, select {
		display: block;
		width: 100% !important;
		padding: 12px 5px!important;
		text-indent: 10px;
		line-height: 1 !important;
		background: $white;
		border: none;
		-webkit-appearance: none;
		transition: all 0.3s ease;
		color: $color-font-body;
		border-radius: 8px;
		border: solid 2px $green;

		&:hover {
			
		}

		&:focus {

		}
	}
}

.ginput_container_select {
	position: relative;

	&:after {
		content: '\f107';
		position: absolute;
		right: 0;
		font-family: 'Font Awesome 5 Free';
		font-weight: 900;
		top: .6rem;
		right: 1rem;
		pointer-events: none;
	}	
}

.gf_left_half, .gf_right_half {
	@media (min-width: 640px) {
		width: calc(50% - .5rem)!important;
		margin-bottom: 0!important;
	}
}

.gf_left_half {
	@media (min-width: 640px) {
		margin-right: 1rem;
	}
}

::-webkit-input-placeholder {
	color: inherit;
}

:-moz-placeholder {
	color: inherit;
}

/**
 * Validations
 **/

.validation_error {
	color: red !important;
	text-align: left !important;
	border-top: none !important;
	border-bottom: none !important;
	padding: 0 !important;
}

.gfield_error {
	min-width: 100% !important;
	border: none !important;
	padding: 0 !important;
	background: transparent !important;

	.gfield_label,
	.gfield_required {
		color: red !important;
	}

	.validation_message {
		color: red !important;
		font-size: 1.2rem !important;
	}

	input[type="email"],
	input[type="text"],
	textarea {
		border: 0.2rem solid red !important;
	}
}