/********************HEADER********************/

/*
 * This file should house all of the styles for
 * header.php.
 */

.header {
	position: relative;
	background: $white;
	width: 100%;
	z-index: 110;
	top: 0;	

	@include above (sm) {
		position: fixed;
	}

	&.is-sticky {

		@include below (sm) {
			position: fixed;
		}

		.header__toolbar {
			padding-top: .5rem;
			padding-bottom: .5rem;
		}

		.header__logo {
		
			img {
				width: 60px;
				height: 60px;  
			}
		}

		.nav__item {
			@include above (md) {
				padding: .4rem;
			}
		}
	}

	&__toolbar {
		padding-top: 1rem;
		padding-bottom: 1rem;

		@include above (sm) {
			padding-top: 1.5rem;
			padding-bottom: 1.5rem;			
		}

		&--item {

			.fas {
				margin-right: .5rem;

				&:before {
					background: $green;
					padding: .8rem .9rem;
					border-radius: 50%;
					color: $white;
				}
			}
		}

		&--wrap {
			flex-direction: column;

			a {
				color: $color-font-body;
			}
		}
	}

	&__nav {
		background: $gray;
	}

	&__logo {
		display: block;
		float: left;

		img {
			width: 80px;
			height: 80px;
			transition: all ease .3s;

			@include above (sm) {
				width: 122px;
				height: 122px;
			}
		}
	}
}