/********************LAYOUTS********************/

/* Base Styles */
.gray--bg {
  color: $white;

  a {
    color: $white;

    &:hover {
      color: $green;
    }
  }
}

.green--bg {
  color: $white;

  a {
    color: $white;
  }
}

.none--bg {
  a {
    color: $color-font-body;
  }
}


/* WYSIWYGs */
.wysiwygs {
  [class^="row-"], [class*=" row-"] { 
    // row-specific styles here
    
  }

  &__title {
    margin-top: 0;
  }

  &__col {

    &.first {

      h1,h2,h3,
      h4,h5,h6 {
        margin-top: 0;
      }
    }

    h1,h2,h3,
    h4,h5,h6 {

      @include above (sm) {
        margin-top: 0;
      }
    }
     
    a:not(.btn) {
      color: $green;
      transition: all ease .3s;

      &:hover {
        color: $gray;
      }
    }
  	
    @include above (sm) {
      &.first {

        p:last-child {
          margin-bottom: 0;
        }
      }
    }

    &.last {

      p:last-child {
        margin-bottom: 0;
      }
    }
  }
}


.flex {
	display: flex;

	&--hvalign {
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	&--valign {
		align-items: center;
		justify-content: center;
	}

	&--justify {
		justify-content: space-between;
	}

	&--center {
		align-items: center;
	}

	&--wrap {
		flex-wrap: wrap;
	}

	&--end {
		justify-content: flex-end;
	}
}


.padding {

  &--top {
    padding-top: 3rem;
  }
  
  &--bottom {
    padding-bottom: 3rem;
  }

  &--both {
    padding-bottom: 3rem;
    padding-top: 3rem;
  }

  @include above (sm) {

    &--top {
      padding-top: 6rem;
    }

    &--bottom {
      padding-bottom: 6rem;
    }

    &--both {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
}

.margin {

  &--top {
    
  }
  
  &--bottom {
    
  }

  &--both {
  
  }

  @include above (sm) {

    &--top {
      
    }

    &--bottom {
      
    }

    &--both {
   
    }
  }
}