.link-boxes {
 
	&__header {

	}

	&__item {
		color: $color-font-body;
		transition: all ease .3s;

		@include between (sm, md) {
			width: 50%;
		}

		&:hover {

			.link-boxes__overlay, .link-boxes__title--hover {
				opacity: 1;
			}
		}
	}

	&__wrap {
		position: relative;
	}

	&__overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		background: $green;
		border-radius: 5px;
		opacity: 0;
		transition: all ease .3s;
	}

	&__img {
		border-radius: 5px;
	}

	&__title {
		margin-top: 2rem;
		transition: all ease .3s;

		&--hover {
			position: absolute;
			top: 50%;
			margin-top: 0;
			transform: translateY(-50%);
			width: 100%;
			text-align: center;
			color: $white;
			opacity: 0;
		}
	}
}