/********************PAGE********************/

/*
 * This file should house all of the styles for any
 * page template, i.e. page.php or page-{rename}.php.
 */

.page {
  
	&__hero {
		background: no-repeat center center;
		background-size: cover;
		padding-top: 4rem;
		padding-bottom: 4rem;

		@include above (sm) {
			padding-top: 6rem;
			padding-bottom: 6rem;
		}
	}  

	&__title {
		@include below (sm) {
			margin-top: 3rem;
			font-size: 2rem;
		}
	}
}
