.parallax {
	background: no-repeat center center;
	background-size: cover;
	position: relative;

	@include above (sm) {
		background-attachment: fixed;
	}

	&.gray--bg {
		@include overlay (
			$color: $gray
		);
	} 

	&.green--bg {
		@include overlay (
			$color: $green
		);
	}

	&__item {
		text-align: center;
		color: $white;
	}

	&__title {
		margin: 0;
		position: relative;
		z-index: 20;
	}
}