.references {

	&__title {
		margin-top: 0;
		padding-bottom: 3rem;
	}

	.crt-post-content-text, .crt-post-header,  
	.crt-post-footer, .crt-panel-arrow {
		display: none!important;
	}

	.crt-post {
		pointer-events: none;
	}
}