.text-image {

	&__wrapper {
		position: relative;
	}

	&__content {
		h1, h2,
		h3, h4,
		h5, h6 {
			margin-top: 0;
		}

		&.right {
			@include above (sm) {
				padding-right: 4rem;
			}

			@include above (md) {
				padding-right: 7rem;
			}
		}

		&.left {
			@include above (sm) {
				padding-left: 4rem;
			}

			@include above (md) {
				padding-left: 7rem;
			}
		}
	}

	// Image
	&__image {
		background: no-repeat center center;
		background-size: cover;

		&.top {
			background: no-repeat center top;
			background-size: cover;
		}

		&.left,
		&.right {
			@include below (sm) {
				height: 25rem;
			}

			@include above (sm) {
				position: absolute;
				top: 0;
				bottom: 0;
				width: 50%;
			}
		}

		&.left {
			left: 0;
		}

		&.right {
			right: 0;
		}
	}
}