.toolbar {

	&__item {

		.fas {
			&:before {
				background-color: $green;
				display: block;
				line-height: 1.5;
				padding: .2rem .5rem;
				color: $white;
			}
		}
	}

	&__item + &__item {
		margin-left: .5rem;
	}
}